@charset "UTF-8"; 
* {margin: 0; padding: 0;}

body {font-family: Arial, Helvetica, sans-serif;}

header {text-align: center; margin: 40px 0 20px 0;}
h2 {font-weight: bold;}

main {background: white; width: fit-content; margin: auto; padding: 20px;}
div {text-align: center;} 
#txt {margin-bottom: 10px;}
#home {margin-top: 40px;}

@media (max-width: 600px) {
    h2 {font-size: 1.2em}
}
