@charset "UTF-8";

footer {text-align: center; font-weight: bold; margin: 20px 0;}
#rodape2 {display: none;}

@media (max-width: 600px) {
    #rodape1 {display: none;}
    #rodape2 {display: block; text-align: center;}
    #rodape2 p {margin: 0;}
}
@media (max-width: 300px) {
    footer {font-size: .8em;}
}

